.logo__signup {
    margin-bottom: 20px;
    margin-left: 10px;
    width: 174px;
    height: 46px;
}

.btn-sin:hover {
    text-decoration: underline;
}

.action {
    background-color: #fff;
}

@media only screen and (max-width: 600px) {
    .logo__signup {
        margin-bottom: 20px;
        margin-left: 10px;
        width: 154px;
        height: 36px;
    }
}