.slideThree {
    margin: 0 auto;
    width: 520px;
    margin-top: 80px;
    height: 490px;
}

@media only screen and (max-width: 600px) {
    .slideThree {
        width: 332px;
        margin: 32px auto 0;
        height: 590px;
    }

    .text-msg{
        font-size: 12px;
    }
}