.slideFour {
    margin: 0 auto;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
}

.p {
    padding: 1px;
    margin: 1px;
}

@media only screen and (max-width: 600px) {
    .slideFour {
        width: 332px;
        margin: 32px auto 0;
        height: 590px;
    }
    
}