@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;800&display=swap');

* {
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}


.first-section {
  padding-bottom: 200px;
}

