.logocontainer__home {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.logo__home {
    width: 110px;
    height: 36px;
    margin-left: 10px;
}

.profile__img{
    padding: 1px;
    border-radius: 5px;
}

  