.video {
    min-height: 100vh;
    background-color: #141414
}

#video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width:100%; 
    min-height: 100%;
    width: 1000px; 
    height: auto;
    z-index: -100;
  }
  

  @media only screen and (max-width:600px){
    #video-background {
        background-color: #141414;
        position: fixed;
        right: 0; 
        bottom: 0;
        min-width:100%; 
        min-height: 100%;
        width: 200px; 
        height: auto;
        z-index: -100;
      }
  }

